@import "../vars.css";

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.wrapper {
  width: 100vw;
  background-color: var(--bjj-black);
}
.titleWrapper {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  /* font-size: large; */
  font-size: 20rem;
  color: var(--bjj-white);
  width: 100vw;
  overflow-x: scroll;
}
.viewportDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
