@import "../vars.css";

.link:hover {
  color: var(--skyBlue);
}
.techWrapper {
  padding: 3rem;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.categoryWrapper > h1 {
  width: 10%;
}

.categories {
  width: 90%;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.posts {
  display: flex;
  gap: 2rem;
}
