@import "./vars.css";

* {
  /* width: 100vw; */
  cursor: none;
  -ms-overflow-style: none;
  text-decoration: none;
  background-color: --var(--bjj-black);
}
::-webkit-scrollbar {
  display: none;
}

.cursor {
  /* background-color: var(--bjj-white); */
  background-color: var(--purple);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
}
