@import "../vars.css";
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
.navWrapper {
  background-color: var(--bjj-white);
  position: fixed;
  right: 2rem;
  top: 7rem;
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
  gap: 1rem;
}
a:hover {
  color: black;
}

.navBtn {
  background-color: var(--bjj-white);
  position: fixed;
  top: 3rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
