@import "../vars.css";
.navWrapper {
  background-color: var(--white);
  position: fixed;
  right: 2rem;
  top: 7rem;
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
  gap: 1rem;
}
a:hover {
  color: black;
}

.navBtn {
  background-color: var(--white);
  position: fixed;
  top: 3rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.techWrapper {
  margin-top: 20px;
}
