@import "../vars.css";

.VideoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Video {
  display: flex;
  gap: 3rem;
}
.VideoBtn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.5);
}
.VideoBtn:hover {
  color: var(--black);
}
